@import url("https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap");

:root {
	font-family: "Courier New", monospace;
}

body {
	font-size: 1.2rem;
	text-align: center;
}

.container {
	display: flex;
	justify-items: center;
	align-items: center;
	flex-direction: column;
}
.container h1 {
	font-family: "ZCOOL KuaiLe", cursive;
	font-size: 4rem;
	margin: 10px;
}

.game-start {
	margin: 50px;
	display: flex;
	font-size: 3rem;
	font-family: "ZCOOL KuaiLe", cursive;
}
.game-start > div {
	margin: 1px;
	border: 3px solid hsl(34, 44%, 69%);
	border-radius: 3px;
	padding: 25px 50px;
	width: 25px;
	transition: width 0.6s;
}
.game-start > div:hover {
	background-color: hsl(34, 44%, 69%);
	color: white;
	width: 55px;
	cursor: pointer;
}

.winner {
	font-size: 2rem;
	margin: 10px;
	height: 35px;
	font-weight: bolder;
	color: hsl(0, 100%, 20%);
}

.main {
	max-width: 400px;
	user-select: none;
}

.player-turn {
	display: flex;
	justify-items: center;
	align-items: center;
	font-size: 2.1rem;
	text-align: center;
	border-radius: 4px;
	width: 100%;
	font-family: "ZCOOL KuaiLe", cursive;
}
.player-turn > div {
	background-color: hsl(34, 78%, 91%);
	flex: 1;
	border: 1px solid hsl(34, 78%, 88%);
	padding: 0px 20px;
}
.player-turn > .heighlight {
	background-color: hsl(34, 78%, 71%);
}

.game-board {
	display: inline-grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
	margin: 15px;
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: hsl(34, 78%, 91%);
	padding: 10px;
	padding-bottom: 0;
	box-sizing: border-box;
	color: hsl(0, 0%, 25%);
	font-size: 90px;
	width: 100px;
	height: 100px;
}
.cell:hover {
	cursor: pointer;
	background-color: hsl(34, 78%, 82%);
}

.winBox {
	background-color: hsl(34, 78%, 72%);
	border-radius: 10px;
}

.restart-game {
	background-color: hsl(180, 100%, 97%);
	border: 1px solid gray;
	border-radius: 2px;
	padding: 4px 12px;
	margin: 10px;
	font-family: "ZCOOL KuaiLe", cursive;
}
.restart-game:hover {
	background-color: hsl(180, 100%, 91%);
	cursor: pointer;
}

.hide {
	display: none;
}
